.header {
    max-width: 100vw;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
   

    & .icon--color {
        fill: $dark;

        @include desktop() {
            fill: $dark;
            z-index: 1000;
        }
    }

}
