// Colors name
$white:#FFF;
$orange-light: #ffad00; 
$orange-dark:#FBA819;
$dark: #050506;
$background-social:#202024;

// Break points
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
